* {
    margin: 0;
    padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition-delay: 9999s;
    transition-delay: 9999s;
}

/* #133478 */
/* .background {
  background: rgb(230, 233, 242);
  background: linear-gradient(
    300deg,
    rgba(230, 233, 242, 1) 0%,
    rgba(151, 165, 202, 1) 20%,
    rgba(79, 104, 166, 1) 50%,
    rgba(37, 72, 144, 1) 80%,
    rgba(19, 53, 120, 1) 100%
  );
} */

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: 10px;
    scrollbar-color: grey transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: grey;
}
